module.exports = {
  apps: [
    {
      name: 'Discord-Oauth',
      script: './server.js',
      env: {
        NODE_ENV: 'development'
      },
      env_production: {
        NODE_ENV: 'production',
        MONGOURI: '',
        CLIENT_ID: '',
        CLIENT_SECRET: '',
        SESSION_SECRET: ''
      }
    }
  ]
};
